---
import SubscribePage from "@components/pages/SubscribePage";
import Layout from "@layouts/Layout.astro";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import { siteConfig } from "../config";
import "../styles/cepato.css";

const subscribeLabel = i18n(I18nKey.subscribe);
const pageTitle = `${subscribeLabel} - ${siteConfig.title}`;
const metaDescription = `${siteConfig.title} - ${subscribeLabel}`;
---

<Layout title={pageTitle} description={metaDescription}>
	<div class="py-12 md:py-16 flex flex-col items-center gap-0 overflow-x-hidden">
		<SubscribePage client:load />
	</div>
</Layout>
